@{
	ViewData["Title"] = "Test";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası ilk view sayfamdır.</h3>

<table>
	<tr>
		<th>ID</th>
		<th>Ad</th>
		<th>Departman</th>
	</tr>
	@*th başlık kısmıdır ve daha kalın punttoyla yazılır td den -head-*@
	<tr>
		<td>1</td>
		<td>Yağmur</td>
		<td>Yazılım</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Uzay</td>
		<td>Yazılım</td>
	</tr>


</table>